/* 리셋연결 */
@import url("reset.css");

/*폰트*/
@font-face {font-family: "NotoSans-Bold"; src:url(../font/NotoSans-Bold.ttf) ;}
@font-face {font-family: "NotoSans-BoldItalic"; src:url(../font/NotoSans-BoldItalic.ttf) ;}
@font-face {font-family: "NotoSans-Italic"; src:url(../font/NotoSans-Italic.ttf) ;}
@font-face {font-family: "NotoSans-Regular"; src:url(../font/NotoSans-Regular.ttf) ;}

@font-face {font-family: "NotoSansKR-Black"; src: url(../font/NotoSansKR-Black.otf);}
@font-face {font-family: "NotoSansKR-Bold"; src: url(../font/NotoSansKR-Bold.otf);}
@font-face {font-family: "NotoSansKR-Light"; src: url(../font/NotoSansKR-Light.otf);}
@font-face {font-family: "NotoSansKR-Medium"; src: url(../font/NotoSansKR-Medium.otf);}
@font-face {font-family: "NotoSansKR-Regular"; src: url(../font/NotoSansKR-Regular.otf;)}
@font-face {font-family: "NotoSansKR-Thin"; src: url(../font/NotoSansKR-Thin.otf);}

/* common */
body {font-size: 18px;font-family: 'NotoSansKR';font-family: 'NotoSans';}

/*layout*/

#wrap {width: 100%; }
    #header {height: 70px;}
    #header:after {content: "";display: block;clear: both;}
    .main_banner {width: 1920px;}
    .main_banner:after {content: "";display: block;clear: both;}
    #container {border: 1px solid yellow;}
     .aboutus_warp {}
     .aboutus_warp .inner {width: 1332px; margin: 0 auto; border: 1px solid black;}
     .newsroom_wrap {}
     .newsroom_wrap .box_wrap {width: 1332px; margin: 0 auto; border: 1px solid black;}
     .product_wrap {}
     .product_wrap .inner {width: 1332px; margin: 0 auto; border: 1px solid black;}
     #container:after {content: "";display: block;clear: both;}
    #sitemap_wrap {border: 1px solid yellow;}
    #sitemap_wrap .inner {width: 1332px; margin: 0 auto; border: 1px solid black;}
    #sitemap_wrap:after {content: "";display: block;clear: both;}
    #footer {width: 1920px; height: 137px; border: 1px solid blue;}
.to_top {}

/*헤더*/
    /*로고*/
    h1.logo {position: absolute; top: 17px; left: 30px;}
    /*주메뉴*/
    .gnb_wrap {width: 1920px; height: 70px; margin: 0 auto;}
        ul.gnb {position: relative;  width: 700px;height: 70px;  margin: 0 auto;}
        /*1단리스트*/
        ul.gnb > li {float: left; margin-right: 89px; font-size: 17 px; font-weight: bold; letter-spacing: -1px;}
        ul.gnb > li:last-child {margin-right: 0;}
        ul.gnb li a {
            display: block; height: 70px;
            line-height: 70px;
            text-decoration: none;
            color: black;
        }
        /*2단리스트*/
        ul.gnb li ul {position: absolute; top: 70px; display: none;}
        ul.gnb li ul li {}
        ul.gnb li:first-child ul li {}
        /*3단리스트*/
        
    /* 탑메뉴 */
        .topMenu_Area {position: absolute; top: 0; right: 0px; width: 180px; height: 70px;}
            .topMenu {}
            .topMenu dt {float: left;}
            .topMenu dt a {display: block; width: 60px; height: 70px; font-size: 12px; line-height: 70px; text-align: center; text-decoration: none; font-weight: bold; color: #000;}
            .topMenu dd {display: none;}
            .btn_srch {float: left; background: #043285; width: 42px; height: 52px; padding-top: 18px; padding-left: 18px;}

/*메인배너*/
.main_banner {}
.main_banner .inner { position: relative;}
.main_banner ul {}
.main_banner ul li {position: relative;}
.main_banner ul li video {position: relative;}
.main_banner ul li p {
    position: absolute;
    top: 28%;
    left: 50%x;
    color: #fff;
    opacity: 0.85;
    font-size: 40px;
    text-align: center;
    width: 1920px;
}

    /*컨트롤박스 0 0 0 ll */
    .slide_ctrl {   position: absolute;
        bottom: 30px;
        left: 900px;}
    .slide_ctrl li {float: left; margin-right: 15px; }
    .slide_ctrl li a {
        display: block;
        width: 10px;
        height: 10px;
        text-indent: -9999px;
        overflow: hidden;
        border: 1px solid #aaa; border-radius: 10px;
        background: #aaa;
    }
    .slide_ctrl li a:hover,:target {border: 1px solid #fff; border-radius: 10px;
        background: #fff;}

    .slide_ctrl li.pause {padding-top: 1.5px;}
    .slide_ctrl li.pause a {
        width: 9px;
        height: 9px;
        border: none;
        border-radius: 0;
        background: url(/images/slide_btn1.png) no-repeat 0 0;
        }
    .slide_ctrl li.pause a:hover {background-position: -9px 0px;}

    /*이전 다음 버튼 < >*/
    .btn_box {position: absolute; top: 45%; left: 39px;}
    .btn_box button {
        text-indent: -9999px; overflow: hidden;
        width: 30px; height: 57px;
        border: none;
        background: url(/images/slide_arr_btn.png) no-repeat 0 0;}
        .prev {}
        .btn_box button.next {margin-left: 1761px; background-position: -30px 0;}


    
    
/*잠시안보이게*/
li#slide2,
li#slide3 {display: none;}